body{
    background-color: black;
}
video {
    width: 75%;
    height: auto;

}
p{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
button{
    background-color: black;
    color:black;
    border-color: black;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif; 
}
h2{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
h4{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.container-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbare{
    border-bottom: 1pt solid;
    border-color: white;
    margin-bottom: 45px;
}
.navbare-btn {
margin-right: 20px;
margin-bottom: 10px;
color: white;
text-decoration: none;
font-size: 25px;
border: none;
background: none;
font-weight: 600;
font-family: 'Josefin Sans', sans-serif;
}
      
.navbare-btn::before {
margin-left: auto;
}
      
.navbare-btn::after, .navbare-btn::before {
content: '';
width: 0%;
margin-top: 5px;
margin-bottom: 8px;
height: 2px;
background: #808080;
display: block;
transition: 0.5s;
}
      
.navbare-btn:hover::after, .navbare-btn:hover::before {
width: 100%;
}
.snt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-space{
    margin: 55px;
}
nav{
    text-align: center;
}

a {
    display: inline-block;
    margin: 0 7px;
}
.link-footer{
    padding-top: 26px;
    border-top: 1pt solid;
    border-color: white;
}
.space-img-vpap{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 75px;
    width: 100%;
}
.space-vpap{
    width: 100%;
}
.top-presentation{
    margin-top: 230px;
    margin-bottom: 85px;
}
.container-presentation{
    display:flex; 
    align-items:center; 
    justify-content:space-between;
    margin-bottom: 45px;
}
.img-presentation{
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 8px;
    align-self:flex-start;
}
.txt-presentation{
    margin-left: 35px;
    margin-right: 35px;
    text-align:start;
}
.top-collaborateurs{
    margin-top: 230px;
    margin-bottom: 85px;
}
.container-collaborateurs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.txt-collaborateurs{
    margin-left: 55px;
    margin-right: 55px;
    text-align:center;
    align-items: end;
}
.contacte{
    margin-top: 80px;
    margin-bottom: 80px;
}
.space-contacte{
    margin-bottom: 30px;
}

.container-contacte {
border-top: 1px solid  white;
display: flex;
}

.space-txt-contacte {
margin-left: 45px;
margin-right: 45px;
border-right: 1px solid white;
display: flex;
align-items: center;
justify-content: center;
}
  
.title-contacte-1 {
margin-right: 45px;
flex: 1;
text-align:center;
}
  
.title-contacte-2 {
margin-bottom: 20px;
}